<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <form [formGroup]="generateForm" (ngSubmit)="onGenerate()">
      <div class="col-sm">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Batch Name</span>
          </div>
          <input type="text" class="form-control" id="batchName" formControlName="batchName" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Header</span>
          </div>
          <input type="text" class="form-control" aria-label="Large" formControlName="header" aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Quantity</span>
          </div>
          <input type="text" class="form-control" aria-label="Large" required="required" formControlName="quantity" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Amount</span>
          </div>
          <input type="text" class="form-control" aria-label="Large" required="required" formControlName="amount" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-lg">
          <mat-form-field>
            <input matInput [matDatepicker]="expiry" placeholder="Expiry Date" [formControl]="expiryDate">
            <mat-datepicker-toggle matSuffix [for]="expiry"></mat-datepicker-toggle>
            <mat-datepicker #expiry disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <button type="button" type="submit" [disabled]="!generateForm.valid" class="btn btn-primary generateButton">Generate</button>
    </form>
    <div class="col-sm">
      <div *ngIf="generateForm.controls.batchName.invalid">
        <div *ngIf="generateForm.controls.batchName.errors.required" class="side-by-side validation">*Batch name is required</div>
      </div>
      <div *ngIf="generateForm.controls.header.invalid">
        <div *ngIf="generateForm.controls.header.errors.required" class="side-by-side validation">*Header is required</div>
        <div *ngIf="generateForm.controls.header.errors.minlength" class="side-by-side validation">*Please enter 4 digits for header</div>
        <div *ngIf="generateForm.controls.header.errors.maxlength" class="side-by-side validation">*Please enter 4 digits for header
        </div>
        <div *ngIf="generateForm.controls.header.errors.pattern" class="side-by-side validation">*Please enter digits only</div>
      </div>
      <div *ngIf="generateForm.controls.quantity.invalid">
        <div *ngIf="generateForm.controls.quantity.errors.required" class="side-by-side validation">*Quantity is required</div>
      </div>
      <div *ngIf="generateForm.controls.amount.invalid">
        <div *ngIf="generateForm.controls.amount.errors.required" class="side-by-side validation">*Amount is required</div>
      </div>
    </div>
  </div>
</div>
